.main-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  height: 30px;
}

.active {
    display: block;
    margin: 5px;
}

.inactive {
    cursor: not-allowed;
    opacity: 0.6;
}
