.background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.45);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center
}

.close{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.content {
  width: 60%;
  height: 60%;
}
